// all the bulma things for now, does individual imports in feature specific styles really help?
// given it's likely I'll have to import the same things in many places
@import "~bulma/bulma";

.App {
  height: 100vh;
  text-align: center;
  padding-top: 1rem;
}