.card.project-list-item {
    min-width: 15rem;
}

.project-list-item-image {
    border-radius: 3px;
    opacity: 0.7;
}

.project-list-item-recipient {
    display:flex;
    align-items: center;

    & span {
      padding-right: 1rem;  
    }
}