@import '../theme/colors';

.card.project-list-item {
    position: relative;
    min-width: 15rem;
}

.delete.project-list-item__close {
    position: absolute;
    right: .5rem;
    top: .5rem;
    background-color: $primary;
}

.project-list-item-image {
    border-radius: 3px;
    opacity: 0.7;
}

.project-list-item-recipient {
    display:flex;
    align-items: center;

    & span {
      padding-right: 1rem;  
    }
}